name: openw3d

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  job:
    name: ${{ matrix.name }} Build
    runs-on: ${{ matrix.os }}
    timeout-minutes: 38
    defaults:
      run:
        shell: ${{ matrix.shell }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: MSVC x86
            os: windows-latest
            cmake-args: -GNinja -DCMAKE_BUILD_TYPE=Release
            shell: pwsh
            arch: x86
            options: "/W4;/WX;/wd4840;/wd4456;/wd4702"
          - name: MSVC x64
            os: windows-latest
            cmake-args: -GNinja -DCMAKE_BUILD_TYPE=Release
            shell: pwsh
            arch: x64
          - name: MinGW x86
            os: windows-latest
            cmake-args: -DW3D_BUILD_OPTION_FFMPEG=ON -GNinja -DCMAKE_BUILD_TYPE=Release
            build-args: --target combat combate renegade renegadeserver ww3d2e wwaudioe wwphyse
            msys2: true
            msys2-msystem: mingw32
            msys2-env: mingw-w64-i686
            shell: msys2 {0}
          - name: MinGW x64
            os: windows-latest
            cmake-args: -DW3D_BUILD_OPTION_FFMPEG=ON -GNinja -DCMAKE_BUILD_TYPE=Release
            build-args: --target combat combate renegade renegadeserver ww3d2e wwaudioe wwphyse
            msys2: true
            msys2-msystem: mingw64
            msys2-env: mingw-w64-x86_64
            shell: msys2 {0}
          - name: Linux x64
            os: ubuntu-latest
            build-args: >
               --parallel
               --target
               scripts
               bandtest
               wwsaveload
               wwmath
               wwutil
               wwdebug
               wwbitpack
               wwtranslatedb
            shell: bash

    steps:

    - name: 'Set up MSYS2'
      if: ${{ !!matrix.msys2 }}
      uses: msys2/setup-msys2@v2
      with:
        msystem: ${{ matrix.msys2-msystem }}
        install: >-
          ${{ matrix.msys2-env }}-cc
          ${{ matrix.msys2-env }}-cmake
          ${{ matrix.msys2-env }}-ffmpeg
          ${{ matrix.msys2-env }}-ninja
          ${{ matrix.msys2-env }}-pkg-config
    - name: 'Set up MSVC dev cmd'
      if: ${{ !matrix.msys2 }}
      uses: ilammy/msvc-dev-cmd@v1.13.0
      with:
        arch: ${{ matrix.arch }}
    - uses: actions/checkout@v5
    - name: 'CMake (configure)'
      env:
        W3D_COMPILER_FLAGS:  ${{ matrix.options }}
      run: |
        cmake -S . -B build ${{ matrix.cmake-args }}
    - name: 'CMake (build)'
      run: |
        cmake --build build --parallel ${{ matrix.build-args }}
